---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import * as cheerio from "cheerio";
import {
	definitionString,
	exampleString,
	typeOfWordString,
	url,
	wordString,
} from "../utils/helper";
import { Github } from "../components/Github";

interface WordProps {
	word: string;
	definition: string;
	typeOfWord: string;
	examples: examplesType;
}
type examplesType = {
	first: string;
	second: string;
};

const checks =
	localStorage.getItem("date") !=
		new Date().toJSON().slice(0, 10).replace(/-/g, "/") ||
	localStorage.getItem("word") == null ||
	localStorage.getItem("definition") == null ||
	localStorage.getItem("typeOfWord") == null ||
	localStorage.getItem("example") == null ||
	localStorage.getItem("word") == undefined ||
	localStorage.getItem("definition") == undefined ||
	localStorage.getItem("typeOfWord") == undefined ||
	localStorage.getItem("example") == undefined ||
	localStorage.getItem("word") == "" ||
	localStorage.getItem("definition") == "" ||
	localStorage.getItem("typeOfWord") == "" ||
	localStorage.getItem("example") == "";

// Storing data in local storage

let word = localStorage.getItem("word");
let definition = localStorage.getItem("definition");
let typeOfWord = localStorage.getItem("typeOfWord");
let example = localStorage.getItem("example");

if (checks) {
	const resp = await fetch(url);
	if (resp.status === 404) {
		console.log("ERROR 404");
	}
	const page = await resp.text();
	const $ = cheerio.load(page);
	word = $(wordString).text();
	definition = $(definitionString).text();
	typeOfWord = $(typeOfWordString).text();
	example = $(exampleString).text().replace(/^\/\//, "");
	localStorage.setItem("word", word);
	localStorage.setItem("definition", definition);
	localStorage.setItem("typeOfWord", typeOfWord);
	localStorage.setItem("example", example);
	localStorage.setItem(
		"date",
		new Date().toJSON().slice(0, 10).replace(/-/g, "/")
	);
	// console.log(localStorage.getItem("date"));
} else {
	word = localStorage.getItem("word");
	definition = localStorage.getItem("definition");
	typeOfWord = localStorage.getItem("typeOfWord");
	example = localStorage.getItem("example");
}
---

<Layout title='Astro WOTD'>
	<main
		class='flex flex-col justify-center items-center p-4 w-screen h-screen bg-slate-950 text-white'
	>
		<h1
			class='m-4 bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text text-2xl sm:text-xl font-extrabold uppercase text-transparent'
		>
			Word of the day
		</h1>
		<div class='flex flex-col justify-center items-center gap-6 mb-8'>
			<p class='text-5xl font-bold capitalize underline underline-offset-8'>
				{word}
			</p>
			<span
				class='whitespace-nowrap rounded-full bg-gradient-to-r from-purple-600 to-pink-600 px-3.5 py-1.5 text-sm text-white capitalize'
			>
				{typeOfWord}
			</span>
			<p class='text-lg w-3/4 font-medium text-center'>{definition}</p>
			<div class='w-3/4'>
				<Card text={example!} />
			</div>
		</div>
		<a href='https://github.com/RNAV2019/astro-wotd' target='_blank'>
			<Github fontSize={40} />
		</a>
	</main>
</Layout>
